#head{
  text-align: center;
  margin: 20px;
}

  body{
    background-color: rgb(106, 185, 255);
  }

  #output{
    display:none;
    text-align: center;
  }

  button{
    background-color:black;
    color: white;
    height: 50px;
  }
